.version.about /* version checker */
{
	color: #000002;
	background-color: #F4AB65;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1100px;
	min-height: 2897.675px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -27px;
	margin-bottom: -45px;
	width: 0.01px;
}

#pu1739-4
{
	width: 0.01px;
	margin-left: -72px;
}

#u1739-4
{
	z-index: 2;
	width: 1053px;
	min-height: 111px;
	background-color: transparent;
	text-align: justify;
	line-height: 28px;
	color: #000000;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 539px;
	left: 92px;
}

#u1740
{
	z-index: 6;
	width: 347px;
	height: 221px;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 449px;
}

.ie #u1740
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu2890
{
	z-index: 229;
	width: 691px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 367px;
}

#u2891
{
	width: 112px;
	min-height: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2892
{
	width: 112px;
	background-color: #FFFFFF;
	padding-bottom: 76px;
	position: relative;
}

#u2892:hover
{
	background-color: #FFFF00;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u2895-4
{
	width: 58px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 38px;
	left: 27px;
}

#u2892:hover #u2895-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u2892.MuseMenuActive #u2895-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u2892:hover #u2895-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2892.MuseMenuActive #u2895-4 p
{
	color: #FF8211;
	visibility: inherit;
}

#u2905
{
	width: 120px;
	min-height: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u2906
{
	width: 120px;
	background-color: #FFFFFF;
	padding-bottom: 76px;
	position: relative;
}

#u2906.MuseMenuActive
{
	background-color: #FFFFFF;
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u2907-4
{
	width: 66px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 38px;
	left: 27px;
}

#u2906:hover #u2907-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2906.MuseMenuActive #u2907-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2906:hover #u2907-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2898
{
	width: 135px;
	min-height: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u2901
{
	width: 135px;
	background-color: #FFFFFF;
	padding-bottom: 76px;
	position: relative;
}

#u2901:hover
{
	background-color: #FFFF00;
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u2904-4
{
	width: 82px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 38px;
	left: 26px;
}

#u2901:hover #u2904-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u2901.MuseMenuActive #u2904-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u2901:hover #u2904-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2912
{
	width: 173px;
	min-height: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 373px;
}

#u2915
{
	width: 173px;
	background-color: #FFFFFF;
	padding-bottom: 76px;
	position: relative;
}

#u2915:hover
{
	background-color: #FFFF00;
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2918-4
{
	width: 120px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 38px;
	left: 26px;
}

#u2915:hover #u2918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u2915.MuseMenuActive #u2918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u2915:hover #u2918-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2919
{
	width: 143px;
	min-height: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 548px;
}

#u2922
{
	width: 143px;
	background-color: #FFFFFF;
	padding-bottom: 76px;
	position: relative;
}

#u2922:hover
{
	background-color: #FFFF00;
	width: 143px;
	min-height: 0px;
	margin: 0px;
}

#u2925-4
{
	width: 90px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 38px;
	left: 26px;
}

#u2922:hover #u2925-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u2922.MuseMenuActive #u2925-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u2922:hover #u2925-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2906.MuseMenuActive #u2907-4 p,#u2901.MuseMenuActive #u2904-4 p,#u2915.MuseMenuActive #u2918-4 p,#u2922.MuseMenuActive #u2925-4 p
{
	color: #FF8106;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u3033-4
{
	z-index: 260;
	width: 1060px;
	min-height: 56px;
	background-color: #FC8119;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	color: #FFFF00;
	line-height: 72px;
	letter-spacing: 5px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 92px;
}

#u3239
{
	z-index: 321;
	width: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3240
{
	z-index: 322;
	width: 459px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3244
{
	z-index: 324;
	width: 459px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3246
{
	z-index: 326;
	width: 459px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3242
{
	z-index: 328;
	width: 459px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3252
{
	z-index: 330;
	width: 692px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 290px;
}

#u3259
{
	z-index: 331;
	width: 692px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3257
{
	z-index: 333;
	width: 692px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3255
{
	z-index: 335;
	width: 692px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3253
{
	z-index: 337;
	width: 692px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1758
{
	z-index: 7;
	width: 1060px;
	height: 354px;
	background-color: #FFFFFF;
	position: fixed;
	top: 683px;
	left: 20px;
}

#u1767-4
{
	z-index: 34;
	width: 980px;
	min-height: 62px;
	background-color: transparent;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	color: #FF0000;
	line-height: 36px;
	letter-spacing: 5px;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 70px;
	margin-top: 50px;
	position: relative;
}

#u1759
{
	z-index: 8;
	width: 280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 817px;
	left: 70px;
}

#u1762-4
{
	z-index: 17;
	width: 85px;
	min-height: 75px;
	background-color: #FC8119;
	border-radius: 50px;
	padding-top: 10px;
	text-align: center;
	font-size: 48px;
	line-height: 58px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu1760-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 100px;
}

#u1760-4
{
	z-index: 9;
	width: 180px;
	min-height: 36px;
	background-color: transparent;
	text-transform: uppercase;
	text-align: left;
	font-size: 30px;
	color: #FF0000;
	line-height: 36px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1761-4
{
	z-index: 13;
	width: 180px;
	min-height: 51px;
	background-color: transparent;
	text-align: justify;
	line-height: 24px;
	color: #FC8119;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u1768
{
	z-index: 38;
	width: 280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 817px;
	left: 420px;
}

#u1771-4
{
	z-index: 47;
	width: 85px;
	min-height: 75px;
	background-color: #FC8119;
	border-radius: 50px;
	padding-top: 10px;
	text-align: center;
	font-size: 48px;
	line-height: 58px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1769-4
{
	z-index: 39;
	width: 180px;
	min-height: 36px;
	background-color: transparent;
	text-transform: uppercase;
	text-align: left;
	font-size: 29px;
	color: #FF0000;
	line-height: 35px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1770-4
{
	z-index: 43;
	width: 180px;
	min-height: 51px;
	background-color: transparent;
	text-align: justify;
	line-height: 24px;
	color: #FC8119;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u1763
{
	z-index: 21;
	width: 280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 814px;
	left: 760px;
}

#u1764-4
{
	z-index: 30;
	width: 85px;
	min-height: 75px;
	background-color: #FC8119;
	border-radius: 50px;
	padding-top: 10px;
	text-align: center;
	font-size: 48px;
	line-height: 58px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu1769-4,#pu1765-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 100px;
}

#u1765-4
{
	z-index: 22;
	width: 180px;
	min-height: 36px;
	background-color: transparent;
	text-transform: uppercase;
	text-align: left;
	font-size: 28px;
	color: #FF0000;
	line-height: 34px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1766-4
{
	z-index: 26;
	width: 180px;
	min-height: 51px;
	background-color: transparent;
	text-align: justify;
	line-height: 24px;
	color: #FC8119;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 17px;
	position: relative;
}

#u1805
{
	z-index: 51;
	width: 1060px;
	background-color: #FC8119;
	padding-bottom: 18px;
	margin-left: 20px;
	margin-top: 330px;
	position: relative;
}

#u1806-4
{
	z-index: 52;
	width: 184px;
	min-height: 30px;
	background-color: #FC8119;
	line-height: 36px;
	font-size: 30px;
	color: #FEFE00;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 448px;
}

#pu1807
{
	width: 0.01px;
	margin-left: 111px;
	margin-top: 38px;
}

#u1807
{
	z-index: 56;
	width: 376px;
	padding-bottom: 274px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/drone%20p3s.jpg") no-repeat center center;
	background-size: cover;
}

#u1843-4
{
	z-index: 68;
	width: 204px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 86px;
}

#u1808
{
	z-index: 57;
	width: 392px;
	padding-bottom: 267px;
	position: relative;
	margin-right: -10000px;
	left: 489px;
	background: transparent url("../images/dji%20p4s.jpg") no-repeat center center;
	background-size: contain;
}

#u1844-4
{
	z-index: 72;
	width: 117px;
	min-height: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 138px;
}

#pu1821-3
{
	width: 0.01px;
	margin-left: 111px;
	margin-top: 12px;
}

#u1821-3
{
	z-index: 58;
	width: 379px;
	min-height: 302px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/dji%20gimbal%20phantom%203.jpg") no-repeat center center;
	background-size: contain;
}

#u1822-3
{
	z-index: 61;
	width: 392px;
	min-height: 302px;
	position: relative;
	margin-right: -10000px;
	left: 489px;
	background: transparent url("../images/dji%20p4s%20gimbal.jpg") no-repeat center center;
	background-size: contain;
}

#ppu1859
{
	width: 0.01px;
	margin-left: 104px;
	margin-top: 16px;
}

#pu1859
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u1859
{
	z-index: 77;
	width: 391px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u1865-4
{
	z-index: 225;
	width: 392px;
	min-height: 33px;
	background-color: transparent;
	line-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu1852-36
{
	width: 0.01px;
	margin-top: -1px;
}

#u1852-36
{
	z-index: 114;
	width: 195px;
	min-height: 346px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1857-35
{
	z-index: 189;
	width: 195px;
	min-height: 374px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u1842-4
{
	z-index: 64;
	width: 392px;
	min-height: 408px;
	background-color: transparent;
	text-align: center;
	line-height: 28px;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u1845
{
	z-index: 76;
	width: 391px;
	height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u1848-36
{
	z-index: 78;
	width: 195px;
	min-height: 346px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 496px;
}

#u1850-39
{
	z-index: 150;
	width: 195px;
	min-height: 374px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 692px;
}

#u1857-25 > #u1857-20:before,#u1857-25 > #u1857-22:before,#u1857-25 > #u1857-24:before,#u1850-21 > #u1850-20:before,#u1850-24 > #u1850-23:before,#u1850-27 > #u1850-26:before,#u1850-30 > #u1850-29:before,#u1850-33 > #u1850-32:before
{
	margin-right: -4px;
}

#u1857-25.rtl-list > #u1857-20:before,#u1857-25.rtl-list > #u1857-22:before,#u1857-25.rtl-list > #u1857-24:before,#u1850-21.rtl-list > #u1850-20:before,#u1850-24.rtl-list > #u1850-23:before,#u1850-27.rtl-list > #u1850-26:before,#u1850-30.rtl-list > #u1850-29:before,#u1850-33.rtl-list > #u1850-32:before
{
	margin-right: 0px;
	margin-left: -4px;
}

#u1739-2,#u1852-2,#u1852-4,#u1852-6,#u1852-8,#u1852-10,#u1852-12,#u1852-14,#u1852-16,#u1852-18,#u1852-20,#u1852-21,#u1852-22,#u1852-23,#u1852-24,#u1852-25,#u1852-26,#u1852-27,#u1852-28,#u1852-29,#u1852-30,#u1852-32,#u1852-34,#u1857-2,#u1857-4,#u1857-6,#u1857-8,#u1857-10,#u1857-12,#u1857-14,#u1857-16,#u1857-18,#u1857-20,#u1857-22,#u1857-24,#u1857-26,#u1857-27,#u1857-28,#u1857-29,#u1857-31,#u1857-33,#u1848-2,#u1848-4,#u1848-6,#u1848-8,#u1848-10,#u1848-12,#u1848-14,#u1848-16,#u1848-18,#u1848-20,#u1848-21,#u1848-22,#u1848-23,#u1848-24,#u1848-25,#u1848-26,#u1848-27,#u1848-28,#u1848-29,#u1848-30,#u1848-32,#u1848-34,#u1850-2,#u1850-4,#u1850-6,#u1850-8,#u1850-10,#u1850-12,#u1850-14,#u1850-16,#u1850-18,#u1850-20,#u1850-23,#u1850-26,#u1850-29,#u1850-32,#u1850-35,#u1850-37
{
	padding-left: 10px;
}

#u1863
{
	z-index: 224;
	width: 391px;
	height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u3035
{
	z-index: 265;
	min-height: 38px;
	background-color: #FCAB19;
	padding-bottom: 27px;
}

#u3045-4
{
	z-index: 296;
	width: 411px;
	min-height: 29px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 457px;
}

#u3035-bw
{
	z-index: 265;
	min-height: 38px;
	margin-top: 93px;
}

#pu3034
{
	width: 0.01px;
	margin-left: -115px;
}

#u3034
{
	z-index: 264;
	min-height: 84px;
	background-color: #FC6319;
	padding-bottom: 31px;
}

#u3035_align_to_page,#u3034_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	position: relative;
	left: -100px;
}

#u3052
{
	z-index: 316;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 149px;
	background: #FCEE21 url("../images/footericon01.png") no-repeat center center;
}

#pu3039-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 230px;
}

#u3039-4
{
	z-index: 278;
	width: 217px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3042-4
{
	z-index: 290;
	width: 217px;
	min-height: 23px;
	background-color: transparent;
	line-height: 34px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#u3044
{
	z-index: 295;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 503px;
	background: #FCEE21 url("../images/footericon02.png") no-repeat center center;
}

#pu3038-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 580px;
}

#u3038-4
{
	z-index: 274;
	width: 217px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3041-4
{
	z-index: 286;
	width: 217px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 14px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#u3043
{
	z-index: 294;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 857px;
	background: #FCEE21 url("../images/footericon03.png") no-repeat center center;
}

#pu3037-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 935px;
}

#u3037-4
{
	z-index: 270;
	width: 210px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3040-4
{
	z-index: 282;
	width: 210px;
	min-height: 23px;
	background-color: transparent;
	line-height: 34px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#u3034-bw
{
	z-index: 264;
	min-height: 84px;
}

#u3046-14
{
	z-index: 300;
	width: 376px;
	min-height: 271px;
	background-color: transparent;
	text-align: justify;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 416px;
}

#u3046-2,#u3046-4,#u3046-6,#u3046-8,#u3046-10,#u3046-12
{
	font-size: 18px;
	font-family: open-sans, sans-serif;
}

#u3048
{
	z-index: 314;
	width: 250px;
	min-height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 132px;
}

#u3050
{
	z-index: 315;
	width: 404px;
	min-height: 353px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 829px;
}

#u3056-4
{
	z-index: 317;
	width: 413px;
	min-height: 37px;
	background-color: transparent;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 399px;
}

#u3056-2
{
	font-size: 30px;
	line-height: 30px;
	color: #FF0000;
	font-family: coda, sans-serif;
}

#u3278
{
	z-index: 339;
	width: 564px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
}

#u3279
{
	z-index: 340;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3283
{
	z-index: 342;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3285
{
	z-index: 344;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3281
{
	z-index: 346;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3036-4
{
	z-index: 266;
	min-height: 26px;
	border-style: none;
	background-color: #FCAB19;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 23px;
	letter-spacing: 2px;
	font-family: coda, sans-serif;
	font-weight: 800;
}

#u3036-4-bw
{
	z-index: 266;
	min-height: 26px;
	margin-top: 21px;
}

body
{
	position: relative;
	min-width: 1100px;
	padding-bottom: 45px;
}

#page .verticalspacer
{
	clear: both;
}

