.ts02-Body-Sans-Modern
{
	font-family: comfortaa-n7, sans-serif;
}

.ts02-Subtitle-Abel,.ts02-Title-Abel
{
	font-family: abel-n4, sans-serif;
}

.Contact-Form---Entry-Field,.Contact-Form---Field-Title
{
	font-family: pt-sans-n4, sans-serif;
}

.Headline
{
	font-family: open-sans-n6, sans-serif;
}

#u1739-4,#u2895-4
{
	font-family: coda-n4, sans-serif;
}

#u2907-4
{
	font-family: coda-n4, sans-serif;
}

#u2904-4
{
	font-family: coda-n4, sans-serif;
}

#u2918-4
{
	font-family: coda-n4, sans-serif;
}

#u2925-4
{
	font-family: coda-n4, sans-serif;
}

#u3045-4
{
	font-family: coda-n8, sans-serif;
}

#u3046-2,#u3046-4,#u3046-6,#u3046-8,#u3046-10,#u3046-12
{
	font-family: open-sans-n3, sans-serif;
}

#u3033-4,#u1767-4,#u1762-4,#u1760-4,#u1761-4,#u1771-4,#u1769-4,#u1770-4,#u1764-4,#u1765-4,#u1766-4,#u1806-4,#u3039-4,#u3042-4,#u3038-4,#u3041-4,#u3037-4,#u3040-4,#u3056-2,#u3036-4
{
	font-family: coda-n4, sans-serif;
}

