.ts02-Body-Sans-Modern
{
	font-family: comfortaa-n7, sans-serif;
}

.ts02-Subtitle-Abel,.ts02-Title-Abel
{
	font-family: abel-n4, sans-serif;
}

.Contact-Form---Entry-Field,.Contact-Form---Field-Title
{
	font-family: pt-sans-n4, sans-serif;
}

.Headline
{
	font-family: open-sans-n6, sans-serif;
}

#u1902-4,#u2823-4
{
	font-family: coda-n4, sans-serif;
}

#u2835-4
{
	font-family: coda-n4, sans-serif;
}

#u2832-4
{
	font-family: coda-n4, sans-serif;
}

#u2846-4
{
	font-family: coda-n4, sans-serif;
}

#u2853-4
{
	font-family: coda-n4, sans-serif;
}

#u2988-4
{
	font-family: coda-n8, sans-serif;
}

#u2989-2,#u2989-4,#u2989-6,#u2989-8,#u2989-10,#u2989-12
{
	font-family: open-sans-n3, sans-serif;
}

#u2982-4,#u2985-4,#u2981-4,#u2984-4,#u2980-4,#u2983-4,#u2990-2,#u2978-4
{
	font-family: coda-n4, sans-serif;
}

