.ts02-Body-Sans-Modern
{
	font-family: comfortaa-n7, sans-serif;
}

.ts02-Subtitle-Abel,.ts02-Title-Abel
{
	font-family: abel-n4, sans-serif;
}

.Contact-Form---Entry-Field,.Contact-Form---Field-Title
{
	font-family: pt-sans-n4, sans-serif;
}

.Headline
{
	font-family: open-sans-n6, sans-serif;
}

#u1566-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u1456-4,#u1496-4,#u1496-6,#u1496-7,#u1496-9,#u1496-10,#u1496-12,#u1496-14,#u1496-16,#u1496-18,#u1496-20,#u1496-22,#u1496-26,#u1496-24,#u1496-27,#u1496-29,#u1496-31,#u1496-33,#u1496-35,#u2859-4
{
	font-family: coda-n4, sans-serif;
}

#u2871-4
{
	font-family: coda-n4, sans-serif;
}

#u2868-4
{
	font-family: coda-n4, sans-serif;
}

#u2882-4
{
	font-family: coda-n4, sans-serif;
}

#u2889-4
{
	font-family: coda-n4, sans-serif;
}

#u3002-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u3005-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u3006-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u3008-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u1496,#u1496-3,#u1623,#u1623-3,#u1630,#u1630-3,#u1636-2,#u3020-4
{
	font-family: coda-n8, sans-serif;
}

#u3021-2,#u3021-4,#u3021-6,#u3021-8,#u3021-10,#u3021-12
{
	font-family: open-sans-n3, sans-serif;
}

#u1623-4,#u1623-6,#u1623-7,#u1623-9,#u1623-10,#u1623-12,#u1623-14,#u1623-16,#u1623-18,#u1623-20,#u1623-22,#u1623-26,#u1623-24,#u1623-27,#u1623-29,#u1623-31,#u1623-33,#u1623-35,#u1630-4,#u1630-6,#u1630-7,#u1630-9,#u1630-10,#u1630-12,#u1630-14,#u1630-16,#u1630-18,#u1630-20,#u1630-24,#u1630-22,#u1630-25,#u1630-27,#u1630-29,#u1630-31,#u1630-32,#u1630-34,#u1636-5,#u3014-4,#u3017-4,#u3013-4,#u3016-4,#u3012-4,#u3015-4,#u3022-2,#u3011-4
{
	font-family: coda-n4, sans-serif;
}

