.version.portofolio /* version checker */
{
	color: #00001F;
	background-color: #004BB6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1100px;
	min-height: 1482.975000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -29px;
	margin-bottom: -15px;
	width: 0.01px;
}

#pu1902-4
{
	width: 0.01px;
	margin-left: -78px;
}

#u1902-4
{
	z-index: 3;
	width: 972px;
	min-height: 56px;
	background-color: #FC8119;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	color: #FCFE00;
	line-height: 72px;
	letter-spacing: 5px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	left: 141px;
}

#slideshowu2151
{
	z-index: 7;
	width: 0.01px;
	height: 615px;
	position: relative;
	margin-right: -10000px;
	margin-top: 319px;
	left: 104px;
}

#u2170
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 172px;
	left: 312px;
	-pie-background: rgba(0,0,0,0.9);
}

#u2170popup
{
	z-index: 8;
}

#u2173
{
	z-index: 9;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2173_img
{
	padding: 63px 24px 63px 30px;
}

#u2238
{
	z-index: 11;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2304
{
	z-index: 13;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2313
{
	z-index: 15;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2322
{
	z-index: 17;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2331
{
	z-index: 19;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2340
{
	z-index: 21;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2349
{
	z-index: 23;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2358
{
	z-index: 25;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2422
{
	z-index: 27;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2431
{
	z-index: 29;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2440
{
	z-index: 31;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2440_img
{
	padding-top: 60px;
	padding-bottom: 60px;
}

#u2454
{
	z-index: 33;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2454_img
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#u2471
{
	z-index: 35;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2480
{
	z-index: 37;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2471_img,#u2480_img
{
	padding-top: 45px;
	padding-bottom: 45px;
}

#u2208
{
	z-index: 39;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2223
{
	z-index: 41;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2238_img,#u2304_img,#u2313_img,#u2322_img,#u2331_img,#u2340_img,#u2349_img,#u2358_img,#u2422_img,#u2431_img,#u2208_img,#u2223_img
{
	padding-top: 48px;
	padding-bottom: 48px;
}

#u2156
{
	position: absolute;
	width: 1047px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 208px;
}

#u2156popup
{
	z-index: 43;
}

#u2161
{
	z-index: 44;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 36px;
}

#u2241
{
	z-index: 46;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u2307
{
	z-index: 48;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#u2316
{
	z-index: 50;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 528px;
}

#u2325
{
	z-index: 52;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 692px;
}

#u2334
{
	z-index: 54;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 856px;
}

#u2161:hover,#u2241:hover,#u2307:hover,#u2316:hover,#u2325:hover,#u2334:hover
{
	width: 154px;
	height: 129px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2343
{
	z-index: 56;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 36px;
}

#u2352
{
	z-index: 58;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 200px;
}

#u2361
{
	z-index: 60;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 364px;
}

#u2425
{
	z-index: 62;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 528px;
}

#u2434
{
	z-index: 64;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 692px;
}

#u2443
{
	z-index: 66;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 856px;
}

#u2343:hover,#u2352:hover,#u2361:hover,#u2425:hover,#u2434:hover,#u2443:hover
{
	width: 154px;
	height: 129px;
	min-height: 0px;
	margin: 139px -10000px 0px 0px;
}

#u2457
{
	z-index: 68;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 278px;
	left: 36px;
}

#u2474
{
	z-index: 70;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 278px;
	left: 200px;
}

#u2483
{
	z-index: 72;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 278px;
	left: 364px;
}

#u2211
{
	z-index: 74;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 278px;
	left: 528px;
}

#u2226
{
	z-index: 76;
	width: 154px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 278px;
	left: 692px;
}

#u2457:hover,#u2474:hover,#u2483:hover,#u2211:hover,#u2226:hover
{
	width: 154px;
	height: 129px;
	min-height: 0px;
	margin: 278px -10000px 0px 0px;
}

#u2163
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 557px;
	left: 335px;
}

#u2163popup
{
	z-index: 78;
}

#u2165-4
{
	z-index: 79;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2244-4
{
	z-index: 83;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2310-4
{
	z-index: 87;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2319-4
{
	z-index: 91;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2328-4
{
	z-index: 95;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2337-4
{
	z-index: 99;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2346-4
{
	z-index: 103;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2355-4
{
	z-index: 107;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2364-4
{
	z-index: 111;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2428-4
{
	z-index: 115;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2437-4
{
	z-index: 119;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2446-4
{
	z-index: 123;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2460-4
{
	z-index: 127;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2477-4
{
	z-index: 131;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2486-4
{
	z-index: 135;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2214-4
{
	z-index: 139;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2229-4
{
	z-index: 143;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2168-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 557px;
	left: 682px;
}

#u2168-4popup
{
	z-index: 147;
}

#u2152-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 556px;
	left: 783px;
}

#u2152-4popup
{
	z-index: 151;
}

#u2169-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 557px;
	left: 712px;
}

#u2169-4popup
{
	z-index: 155;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu2818
{
	z-index: 159;
	width: 691px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 373px;
}

#u2819
{
	width: 112px;
	min-height: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2820
{
	width: 112px;
	background-color: #FFFFFF;
	padding-bottom: 76px;
	position: relative;
}

#u2820:hover
{
	background-color: #FFFF00;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u2823-4
{
	width: 58px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 38px;
	left: 27px;
}

#u2820:hover #u2823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u2820.MuseMenuActive #u2823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u2820:hover #u2823-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2820.MuseMenuActive #u2823-4 p
{
	color: #FF8211;
	visibility: inherit;
}

#u2833
{
	width: 120px;
	min-height: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u2834
{
	width: 120px;
	background-color: #FFFFFF;
	padding-bottom: 76px;
	position: relative;
}

#u2834:hover
{
	background-color: #FFFF00;
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u2835-4
{
	width: 66px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 38px;
	left: 27px;
}

#u2834:hover #u2835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2834.MuseMenuActive #u2835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2834:hover #u2835-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2826
{
	width: 135px;
	min-height: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u2829
{
	width: 135px;
	background-color: #FFFFFF;
	padding-bottom: 76px;
	position: relative;
}

#u2829:hover
{
	background-color: #FFFF00;
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u2832-4
{
	width: 82px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 38px;
	left: 26px;
}

#u2829:hover #u2832-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u2829.MuseMenuActive #u2832-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u2829:hover #u2832-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2840
{
	width: 173px;
	min-height: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 373px;
}

#u2843
{
	width: 173px;
	background-color: #FFFFFF;
	padding-bottom: 76px;
	position: relative;
}

#u2843.MuseMenuActive
{
	background-color: #FFFFFF;
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2846-4
{
	width: 120px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 38px;
	left: 26px;
}

#u2843:hover #u2846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u2843.MuseMenuActive #u2846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u2843:hover #u2846-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2847
{
	width: 143px;
	min-height: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 548px;
}

#u2850
{
	width: 143px;
	background-color: #FFFFFF;
	padding-bottom: 76px;
	position: relative;
}

#u2850:hover
{
	background-color: #FFFF00;
	width: 143px;
	min-height: 0px;
	margin: 0px;
}

#u2853-4
{
	width: 90px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 38px;
	left: 26px;
}

#u2850:hover #u2853-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u2850.MuseMenuActive #u2853-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u2850:hover #u2853-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2834.MuseMenuActive #u2835-4 p,#u2829.MuseMenuActive #u2832-4 p,#u2843.MuseMenuActive #u2846-4 p,#u2850.MuseMenuActive #u2853-4 p
{
	color: #FF8106;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u3330
{
	z-index: 255;
	width: 503px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3331
{
	z-index: 256;
	width: 503px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3335
{
	z-index: 258;
	width: 503px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3337
{
	z-index: 260;
	width: 503px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3333
{
	z-index: 262;
	width: 503px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3000
{
	z-index: 2;
	min-height: 38px;
	background-color: #FCAB19;
	padding-bottom: 10px;
}

#u2988-4
{
	z-index: 221;
	width: 411px;
	min-height: 29px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 464px;
}

#u3000-bw
{
	z-index: 2;
	min-height: 38px;
	margin-top: 7px;
}

#pu2979
{
	width: 0.01px;
	margin-left: -100px;
}

#u2979
{
	z-index: 194;
	min-height: 86px;
	background-color: #FC6319;
	padding-bottom: 12px;
}

#u3000_align_to_page,#u2979_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	position: relative;
	left: -100px;
}

#u2999
{
	z-index: 245;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 162px;
	background: #FCEE21 url("../images/footericon01.png") no-repeat center center;
}

#pu2982-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 237px;
}

#u2982-4
{
	z-index: 203;
	width: 217px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2985-4
{
	z-index: 215;
	width: 217px;
	min-height: 23px;
	background-color: transparent;
	line-height: 34px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#u2987
{
	z-index: 220;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 513px;
	background: #FCEE21 url("../images/footericon02.png") no-repeat center center;
}

#pu2981-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 587px;
}

#u2981-4
{
	z-index: 199;
	width: 217px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2984-4
{
	z-index: 211;
	width: 217px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 14px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#u2986
{
	z-index: 219;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 864px;
	background: #FCEE21 url("../images/footericon03.png") no-repeat center center;
}

#pu2980-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 942px;
}

#u2980-4
{
	z-index: 195;
	width: 210px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2983-4
{
	z-index: 207;
	width: 210px;
	min-height: 23px;
	background-color: transparent;
	line-height: 34px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#u2979-bw
{
	z-index: 194;
	min-height: 86px;
}

#u2989-14
{
	z-index: 225;
	width: 376px;
	min-height: 271px;
	background-color: transparent;
	text-align: justify;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 409px;
}

#u2989-2,#u2989-4,#u2989-6,#u2989-8,#u2989-10,#u2989-12
{
	font-size: 18px;
	font-family: open-sans, sans-serif;
}

#u2990-4
{
	z-index: 239;
	width: 413px;
	min-height: 38px;
	background-color: transparent;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 391px;
}

#u2990-2
{
	font-size: 30px;
	line-height: 30px;
	color: #FF0000;
	font-family: coda, sans-serif;
}

#u2995
{
	z-index: 243;
	width: 250px;
	min-height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 319px;
	left: 155px;
}

#u2997
{
	z-index: 244;
	width: 401px;
	min-height: 353px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 821px;
}

#u3304
{
	z-index: 246;
	width: 564px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 19px;
}

#u3305
{
	z-index: 247;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3311
{
	z-index: 249;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3307
{
	z-index: 251;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3309
{
	z-index: 253;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2978-4
{
	z-index: 190;
	min-height: 26px;
	border-style: none;
	background-color: #FCAB19;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 23px;
	letter-spacing: 2px;
	font-family: coda, sans-serif;
	font-weight: 800;
}

#u2978-4-bw
{
	z-index: 190;
	min-height: 26px;
	margin-top: 48px;
}

body
{
	position: relative;
	min-width: 1100px;
	padding-bottom: 14px;
}

#page .verticalspacer
{
	clear: both;
}

