.version.service /* version checker */
{
	color: #00001C;
	background-color: #021DFD;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1100px;
	min-height: 2281px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -22px;
	margin-bottom: -46px;
	width: 0.01px;
}

#pu1456-4
{
	width: 0.01px;
	margin-left: -62px;
}

#u1456-4
{
	z-index: 3;
	width: 1060px;
	min-height: 56px;
	background-color: #FC8119;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	color: #FFFF00;
	line-height: 72px;
	letter-spacing: 5px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 82px;
}

#u1496-37
{
	z-index: 7;
	width: 463px;
	min-height: 429px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 309px;
	left: 650px;
}

#u1496-3
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #FC8119;
	font-family: coda, sans-serif;
	font-weight: 800;
}

#u1499
{
	z-index: 117;
	width: 533px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-bottom: 3px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 309px;
	left: 90px;
	background: transparent url("../images/company%20profile.jpg") no-repeat center center;
	background-size: cover;
}

#u1566-4
{
	z-index: 120;
	width: 348px;
	min-height: 14px;
	border-width: 3px;
	border-style: solid;
	border-color: #FF0000;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	color: #FC8023;
	line-height: 18px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 77px;
}

#menuu2854
{
	z-index: 135;
	width: 691px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 409px;
}

#u2855
{
	width: 112px;
	min-height: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2856
{
	width: 112px;
	background-color: #FFFFFF;
	padding-bottom: 82px;
	position: relative;
}

#u2856:hover
{
	background-color: #FFFF00;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u2859-4
{
	width: 58px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 41px;
	left: 27px;
}

#u2856:hover #u2859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u2856.MuseMenuActive #u2859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u2856:hover #u2859-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2856.MuseMenuActive #u2859-4 p
{
	color: #FF8211;
	visibility: inherit;
}

#u2869
{
	width: 120px;
	min-height: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u2870
{
	width: 120px;
	background-color: #FFFFFF;
	padding-bottom: 82px;
	position: relative;
}

#u2870:hover
{
	background-color: #FFFF00;
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u2871-4
{
	width: 66px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 41px;
	left: 27px;
}

#u2870:hover #u2871-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2870.MuseMenuActive #u2871-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2870:hover #u2871-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2862
{
	width: 135px;
	min-height: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u2865
{
	width: 135px;
	background-color: #FFFFFF;
	padding-bottom: 82px;
	position: relative;
}

#u2865.MuseMenuActive
{
	background-color: #FFFFFF;
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u2868-4
{
	width: 82px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 41px;
	left: 26px;
}

#u2865:hover #u2868-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u2865.MuseMenuActive #u2868-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u2865:hover #u2868-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2876
{
	width: 173px;
	min-height: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 373px;
}

#u2879
{
	width: 173px;
	background-color: #FFFFFF;
	padding-bottom: 82px;
	position: relative;
}

#u2879:hover
{
	background-color: #FFFF00;
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2882-4
{
	width: 120px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 41px;
	left: 26px;
}

#u2879:hover #u2882-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u2879.MuseMenuActive #u2882-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u2879:hover #u2882-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2883
{
	width: 143px;
	min-height: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 548px;
}

#u2886
{
	width: 143px;
	background-color: #FFFFFF;
	padding-bottom: 82px;
	position: relative;
}

#u2886:hover
{
	background-color: #FFFF00;
	width: 143px;
	min-height: 0px;
	margin: 0px;
}

#u2889-4
{
	width: 90px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #FF8211;
	line-height: 24px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 41px;
	left: 26px;
}

#u2886:hover #u2889-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u2886.MuseMenuActive #u2889-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u2886:hover #u2889-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2870.MuseMenuActive #u2871-4 p,#u2865.MuseMenuActive #u2868-4 p,#u2879.MuseMenuActive #u2882-4 p,#u2886.MuseMenuActive #u2889-4 p
{
	color: #FF8106;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u3002-4
{
	z-index: 166;
	width: 348px;
	min-height: 14px;
	border-width: 3px;
	border-style: solid;
	border-color: #FF0000;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	color: #FC7E23;
	line-height: 18px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 689px;
	left: 696px;
}

#u3002-4:hover
{
	background-color: #DAFF12;
	border-radius: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 348px;
	margin: 689px -10000px 0px 0px;
}

#u3003
{
	z-index: 178;
	width: 34px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 693px;
	left: 728px;
	background: transparent url("../images/telepon.jpg") no-repeat left top;
	background-size: cover;
}

#u3004-4
{
	z-index: 181;
	width: 5px;
	min-height: 9px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 553px;
	left: 34px;
}

#u3223
{
	z-index: 241;
	width: 503px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3218
{
	z-index: 242;
	width: 503px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3213
{
	z-index: 244;
	width: 503px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3208
{
	z-index: 246;
	width: 503px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3203
{
	z-index: 248;
	width: 503px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1623-37
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 29px;
}

#u1623-37
{
	z-index: 44;
	width: 463px;
	min-height: 429px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 560px;
}

#u1623-3
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #FD8323;
	font-family: coda, sans-serif;
	font-weight: 800;
}

#u1496-6,#u1623-6
{
	padding-left: 10px;
	font-family: coda, sans-serif;
	font-weight: 400;
}

#u1623-35
{
	text-align: center;
	color: #000000;
	font-family: coda, sans-serif;
	font-weight: 800;
}

#u1500
{
	z-index: 118;
	width: 529px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/foto%20via%20udara.jpg") no-repeat center center;
	background-size: cover;
}

#u3005-4
{
	z-index: 124;
	width: 348px;
	min-height: 14px;
	border-width: 3px;
	border-style: solid;
	border-color: #FF0000;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	color: #FC8023;
	line-height: 18px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 381px;
	left: 78px;
}

#u3006-4
{
	z-index: 170;
	width: 348px;
	min-height: 14px;
	border-width: 3px;
	border-style: solid;
	border-color: #FF0000;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	color: #FC7E23;
	line-height: 18px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 606px;
}

#u1566-4:hover,#u3006-4:hover
{
	background-color: #DAFF12;
	border-radius: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 348px;
	margin: 382px -10000px 0px 0px;
}

#u3007
{
	z-index: 179;
	width: 34px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 386px;
	left: 639px;
	background: transparent url("../images/telepon.jpg") no-repeat left top;
	background-size: cover;
}

#pu1630-36
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 28px;
}

#u1630-36
{
	z-index: 81;
	width: 463px;
	min-height: 429px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 560px;
}

#u1630
{
	text-align: center;
	color: #FD992A;
	font-family: coda, sans-serif;
	font-weight: 800;
}

#u1630-3
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #FD992A;
	font-family: coda, sans-serif;
	font-weight: 800;
}

#u1630-4,#u1630-6
{
	text-align: left;
	padding-left: 10px;
	font-family: coda, sans-serif;
	font-weight: 400;
}

#u1496-7,#u1496-9,#u1623-9,#u1630-7,#u1630-9
{
	text-align: center;
	text-transform: none;
	font-family: coda, sans-serif;
	font-weight: 400;
}

#u1496-26,#u1496-27,#u1496-33,#u1623-26,#u1623-27,#u1623-33,#u1630-24,#u1630-25,#u1630-31,#u1630-32
{
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
}

#u1496,#u1496-35,#u1623,#u1630-34
{
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 800;
}

#u1629
{
	z-index: 119;
	width: 529px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 183px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1636-7
{
	z-index: 128;
	width: 442px;
	min-height: 55px;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	color: #FF8C3C;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 43px;
}

#u1636-2
{
	font-family: coda, sans-serif;
	font-weight: 800;
}

#u1496-4,#u1496-10,#u1496-12,#u1496-14,#u1496-16,#u1496-18,#u1496-20,#u1496-22,#u1496-24,#u1496-29,#u1496-31,#u1623-4,#u1623-7,#u1623-10,#u1623-12,#u1623-14,#u1623-16,#u1623-18,#u1623-20,#u1623-22,#u1623-24,#u1623-29,#u1623-31,#u1630-10,#u1630-12,#u1630-14,#u1630-16,#u1630-18,#u1630-20,#u1630-22,#u1630-27,#u1630-29,#u1636-5
{
	font-family: coda, sans-serif;
	font-weight: 400;
}

#u3008-4
{
	z-index: 174;
	width: 348px;
	min-height: 14px;
	border-width: 3px;
	border-style: solid;
	border-color: #FF0000;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	color: #FC7E23;
	line-height: 18px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 381px;
	left: 606px;
}

#u3005-4:hover,#u3008-4:hover
{
	background-color: #DAFF12;
	border-radius: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 348px;
	margin: 381px -10000px 0px 0px;
}

#u1566-4:hover p,#u3002-4:hover p,#u3005-4:hover p,#u3006-4:hover p,#u3008-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

#u3009
{
	z-index: 180;
	width: 34px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 385px;
	left: 638px;
	background: transparent url("../images/telepon.jpg") no-repeat left top;
	background-size: cover;
}

#u3010
{
	z-index: 185;
	min-height: 38px;
	background-color: #FCAB19;
	padding-bottom: 10px;
}

#u3020-4
{
	z-index: 216;
	width: 411px;
	min-height: 29px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 480px;
}

#u3010-bw
{
	z-index: 185;
	min-height: 38px;
	margin-top: 125px;
}

#pu3032
{
	width: 0.01px;
	margin-left: -100px;
}

#u3032
{
	z-index: 2;
	min-height: 86px;
	background-color: #FC6319;
	padding-bottom: 12px;
}

#u3010_align_to_page,#u3032_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	position: relative;
	left: -100px;
}

#u3031
{
	z-index: 240;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 179px;
	background: #FCEE21 url("../images/footericon01.png") no-repeat center center;
}

#pu3014-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 253px;
}

#u3014-4
{
	z-index: 198;
	width: 217px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3017-4
{
	z-index: 210;
	width: 217px;
	min-height: 23px;
	background-color: transparent;
	line-height: 34px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#u3019
{
	z-index: 215;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 529px;
	background: #FCEE21 url("../images/footericon02.png") no-repeat center center;
}

#pu3013-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 603px;
}

#u3013-4
{
	z-index: 194;
	width: 217px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3016-4
{
	z-index: 206;
	width: 217px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 14px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#u3018
{
	z-index: 214;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 880px;
	background: #FCEE21 url("../images/footericon03.png") no-repeat center center;
}

#pu3012-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 958px;
}

#u3012-4
{
	z-index: 190;
	width: 210px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3015-4
{
	z-index: 202;
	width: 210px;
	min-height: 23px;
	background-color: transparent;
	line-height: 34px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#u3032-bw
{
	z-index: 2;
	min-height: 86px;
}

#u3021-14
{
	z-index: 220;
	width: 376px;
	min-height: 271px;
	background-color: transparent;
	text-align: justify;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 424px;
}

#u3021-2,#u3021-4,#u3021-6,#u3021-8,#u3021-10,#u3021-12
{
	font-size: 18px;
	font-family: open-sans, sans-serif;
}

#u3022-4
{
	z-index: 234;
	width: 413px;
	min-height: 37px;
	background-color: transparent;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 407px;
}

#u3022-2
{
	font-size: 30px;
	line-height: 30px;
	color: #FF0000;
	font-family: coda, sans-serif;
}

#u3027
{
	z-index: 238;
	width: 250px;
	min-height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 141px;
}

#u3029
{
	z-index: 239;
	width: 404px;
	min-height: 353px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 837px;
}

#u3291
{
	z-index: 250;
	width: 564px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 8px;
}

#u3292
{
	z-index: 251;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3298
{
	z-index: 253;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3294
{
	z-index: 255;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3296
{
	z-index: 257;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3011-4
{
	z-index: 186;
	min-height: 26px;
	border-style: none;
	background-color: #FCAB19;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 23px;
	letter-spacing: 2px;
	font-family: coda, sans-serif;
	font-weight: 800;
}

#u3011-4-bw
{
	z-index: 186;
	min-height: 26px;
	margin-top: 30px;
}

body
{
	position: relative;
	min-width: 1100px;
	padding-bottom: 43px;
}

#page .verticalspacer
{
	clear: both;
}

